* {
    box-sizing: border-box;
}
/* Muito pequeno */
.container {
    background-color: blue;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Pequeno */
@media (min-width: 576px) {
    .container {
        max-width:540px;
    }
} 

/* Médio */
@media (min-width: 768px) {
    .container {
        max-width:720px;
    }
} 

/* Grande */
@media (min-width: 992px) {
    .container {
        max-width:960px;
    }
} 

/* A partir de 1200px */
@media (min-width: 1200px) {
    .container {
        max-width:1040px;
    }
} 